@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    /* COLORES AZULES */
    --blue-primary: #238EBF;
    --blue-secondary: #39B3DD;
    --blue-aditional: #2183A6;


    /* COLORES AMARILLOS */
    --yellow-primary: #FFD450;
    --yellow-secondary: #F6C336;
    --yellow-aditional: rgba(218, 165, 32, 0.9);
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;    
    padding: 0;
    margin: auto;
    height: 650px;
}
  
.rslides li {
    backface-visibility: hidden;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    border: 0;
    object-fit: cover;
    position: relative;

}

.slide-fotos{
    position: relative;
    width: 100%;
    margin: auto;
}


.rslides_nav.prev, .rslides_nav.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(100, 100, 100);
    padding: 10px;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    text-decoration: none;
}

.rslides_nav.prev:hover, .rslides_nav.next:hover {
    font-size: 3.2rem;
}



.rslides_nav.prev {
    left: 3%;
}

.rslides_nav.next {
    right: 3%;
}

.header-hero {
    position: relative;
    display: flex;
}

.texture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/pattern-points.jpg');
    background-size: cover;
    background-position: center;
    opacity: .01;
    pointer-events: none;
    z-index: 2;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Color inicial */
    transition: background-color 0.3s ease; /* Transición suave */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    z-index: 20;

    .logos {
        display: flex;
        align-items: center;
        gap: 20px;

        .logo-solo {
            width: 50px;
            height: auto;

            img {
                width: 100%;
            }
        }

        .logo-tipografia {
            width: 200px;

            img {
                width: 100%;
            }
        }
    }

    .menu {
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;


        a {
            text-decoration: none;
            color: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            font-size: .9rem;
            color: black;

            .arrow-down {
                color: black;
                font-size: 10px;
            }
        }

        /* Estilos para el submenú */
        .menu-item {
            position: relative;
        }

        .submenu {
            display: block; /* Asegura que el submenú tenga una disposición en bloque, pero lo ocultaremos */
            opacity: 0; /* Inicialmente invisible */
            visibility: hidden; /* Lo oculta completamente */
            position: absolute;
            top: 150%;
            /* Lo posiciona debajo del ítem del menú */
            left: 0;
            background-color: #2f2f2f;
            list-style: none;
            transition: opacity .6s ease, visibility 0s 1s; /* Transición de opacidad y visibilidad con retraso */
            width: 150px;        }

        .submenu a {
            color: whitesmoke;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
        }

        .submenu a:hover {
            background-color: var(--blue-primary);
        }

        /* Mostrar el submenú cuando el mouse está sobre el ítem del menú */
        .menu-item:hover .submenu {
            opacity: 1; /* Lo hace visible */
            visibility: visible; /* Cambia la visibilidad */
            transition: opacity .5s ease, visibility 0s; /* Transición suave para la opacidad */
        }

        .menu-item:hover>a {
            transform: scale(1.03);
            text-shadow: 0px 0px 5px rgba(0,0,0,0.75);       
        }
    }

    .cart {
        color: black;
        font-size: 20px;
        cursor: pointer;
    }

}

#header.scrolled {
    background-color: var(--yellow-aditional); /* Gris oscuro */
    color: white; /* Cambia el color del texto si es necesario */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    height: 70px;
}

/* Estilos para la sección hero */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura del slide */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Asegura que esté sobre los slides pero debajo del header */
    color: white;


    h1 {
        color: black;
    }
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--yellow-aditional);
    color: black;
    margin: auto;
  }
  
  .info {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .contact-info, .about {
    flex: 1 1 45%; 
    margin: 0 10px;
  }
  
  .contact-info h4, .about h4 {
    margin-bottom: 15px;
    color: black;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-item i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .contact-item a {
    color: black;
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-icons a {
    width: 60px; 
    height: 60px; 
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .social-icons a.fb:hover {
    background-color: #4e9efc;
  }
  
  .social-icons a.tw:hover {
    background-color: #1da1f2;
  }
  
  .social-icons a.ig:hover {
    background-color: #e1306c;
  }
  
  .social-icons a.yt:hover {
    background-color: #ff0000;
  }
  
  .social-icons a i {
    font-size: 30px;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  .logos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    background-color: #1a1a1a00;
    flex-wrap: wrap; 
  }
  
  .logos-footer figure {
    margin: 0;
  }
  
  .logos-footer img {
    max-width: 100%;
    height: auto;
  }
  
  .logo-solo img {
    width: 80px; 
    max-width: 80px; 
  }
  
  .logo-tipografia img {
    width: 150px; 
    max-width: 150px; 
  }
  