@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    /* COLORES AZULES */
    --blue-primary: #238EBF;
    --blue-secondary: #39B3DD;
    --blue-aditional: #2183A6;

    /* COLORES AMARILLOS */
    --yellow-primary: #FFD450;
    --yellow-secondary: #F6C336;
    --yellow-aditional: rgba(218, 165, 32, 0.9);
}

html 
{
    scroll-behavior: smooth;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;    
    padding: 0;
    margin: auto;
    height: 650px;
}
  
.rslides li {
    backface-visibility: hidden;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    border: 0;
    object-fit: cover;
    position: relative;

}

.slide-fotos{
    position: relative;
    width: 100%;
    margin: auto;
}

.rslides_nav.prev, .rslides_nav.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(100, 100, 100);
    padding: 10px;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    text-decoration: none;
}

.rslides_nav.prev:hover, .rslides_nav.next:hover {
    font-size: 3.2rem;
}

.rslides_nav.prev {
    left: 3%;
}

.rslides_nav.next {
    right: 3%;
}

.header-hero {
    position: relative;
    display: flex;
}

.texture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../resources/pattern-points.png');
  background-size: cover;
  background-position: center;
  opacity: .04;
  pointer-events: none;
  z-index: 2;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent; /* Color inicial */
  transition: background-color 0.5s ease; /* Transición suave */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 20;

  .nav-movil {
    .logos {
      display: flex;
      align-items: center;
      gap: 10px;

      .logo-solo {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
        }
      }

      .logo-tipografia {
        width: 150px;

        img {
            width: 100%;
        }
      }
    }
    .cart-menu-movil {
      display: none;
    }
  }

  #ul-menu {
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;

    .menu-item {
      position: relative;
      cursor: pointer;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        font-size: .8rem;
        font-weight: 600;
        color: black;

        .arrow-down {
            color: black;
            font-size: 10px;
        }
      }
    }

    .submenu {
      z-index: 50;
      display: block;
      opacity: 0;
      visibility: hidden; 
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #2f2f2f;
      list-style: none;
      transition: opacity .6s ease, visibility 0s 1s;
      width: 150px;        
    }

    .submenu a {
        color: whitesmoke;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        text-shadow: none; /* Sombra blanca */
    }

    .submenu a:hover {
      background-color: var(--blue-primary);
    }

    /* Mostrar el submenú cuando se clickea el ítem del menú */
    .menu-item.active .submenu {
        opacity: 1; /* Lo hace visible */
        visibility: visible; /* Cambia la visibilidad */
        transition: opacity .5s ease, visibility 0s; /* Transición suave para la opacidad */
    }

    .menu-item:hover > a {
        color: rgb(255, 255, 255);       
    }
  }

  .cart {
    color: black;
    font-size: 1rem;
    cursor: pointer;
    
  }
}

#header.scrolled {
    background-color: var(--yellow-aditional);
    color: white; /* Cambia el color del texto si es necesario */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    height: 60px;
}

/* Estilos para la sección hero */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura del slide */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; /* Asegura que esté sobre los slides pero debajo del header */
    color: white;

    h1 {
        color: black;
    }
}

/* services */
#services {
  background-color: rgba(0, 0, 0, 0.1); /* Color negro con opacidad */

  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
  }
  
  h3{
    font-size: .9rem;
    color: #8a8484;
  }

  .service-items {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      padding: 20px;
      gap: 15px;
      width: 300px;
      text-align: center;
      transition: all 0.5s ease-in-out;
      border-radius: 2px;

      .icon-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        figure {
          width: 30px;
          height: 30px;
          
          img {
            width: 100%;
            height: 100%;
          }
        }
        
        .title-service {
          font-size: 1.2rem;
          font-weight: 600;
          color: black;
        }
      }
      
    }

    p {
      font-size: .9rem;
    }

    .view-more {
      display: none;
      text-decoration: none;
      font-size: .9rem;
      padding: 5px 10px;
      color: black;
      margin-top: auto;

      .arrow-service {
        display: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #0056b3;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      transition: transform 0.2s ease-in-out, background-color 0.3s ease;
      }
    }
  }

    .service-item:hover {
      background-color: rgb(250, 250, 250);
      background-color: var(--yellow-secondary);
      transition: background-color 0.3s ease, transform 0.1s ease;

      .view-more {
        display: block;
      }
      
      .view-more:hover {
        transform: scale(1.01);
        text-decoration: underline;

        .arrow-service {
          display: block;
        }
      }
    }
}

.view-all {
  text-decoration: none;
  padding: 7px 12px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.view-all:hover {
  color: black;
  background-color: rgb(194, 194, 194);
  transition: background-color 0.3s ease, transform 0.1s ease;
}
/*parallax*/
#parallax {
  background-image: url('../resources/img-parallax.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100%;
  background-attachment: fixed ;
  min-height: 250px;
  position: relative;

  .info-parallax {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 3;
    gap: 15px;

    h1, p {
      color: whitesmoke;
      text-align: left;
    }

    .view-more {
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      padding: 10px 15px;
    }

    .view-more:hover {
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px rgb(0, 0, 0) solid;
      font-weight: 600;
      transition: background-color 0.3s ease, transform 0.1s ease;
    }
  }
  
  .transparencia {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6)
  }
}

/* Galeria */
#gallery {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.1);

  
  .title-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: hsl(0, 0%, 20%);
      text-align: center;
    }
    
    h3{
      font-size: .9rem;
      color: #8a8484;
    }
  }

  .project-gallery {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    figure {
      width: 250px;
      height: 250px;
      position: relative;
      display: inline-block;
      overflow: hidden;
  
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: transform 0.3s ease; 
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        font-size: 14px;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    figure:hover figcaption {
      opacity: 1;
      transform: translateY(0);
    }
    figure:hover img {
      transform: scale(1.1);
    }
  }
}

/* team */

.contenedor-principal {
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin: auto;
}

.title-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
  }
  
  h3{
    font-size: .9rem;
    color: #8a8484;
  }
}

.contenedor-secundario {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slide {
  text-align: center;
  min-width: 33.33%;
}

.imgentest {
  position: relative;
  display: inline-block;
}

.imgentest img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.icono-encima {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #007bff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.position {
  font-size: 0.9rem;
  color: #3574E0;
  margin-top: 0.2rem;
}

.slide-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.arrow {
  color: #fff;
  background-color: #3574E0;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow:hover {
  background-color: #0056b3;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;

  .experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .numbers {
        display: flex;
        gap: 2px;

        h3 {
          font-size: 1.5rem;
          font-weight: 400;
          color: gray;
        }
      }

      p{
        font-weight: 600;
      }
    }
  }
}

/* Estilos para el botón fijo de contacto */
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #238EBF;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.contact:hover {
  background-color: #FFD450;
  transform: scale(1.05);
}

/* Modal */
.overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .dialog {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 8px;
    width: 40vw;
    text-align: left;
    max-height: calc(100vh - 40px);
  
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      margin-bottom: 20px;
      color: #555;
    }
  
    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    
      input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
    
      textarea {
        resize: vertical;
        height: 80px;
        max-height: 200px;
      }
    
      .submit-btn {
        background-color: #39B3DD;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.1s ease;
      }
    
      .submit-btn:hover {
        background-color: #F6C336;
      }
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 20px;
      color: #333;
      cursor: pointer;
    }
  
    .close:hover {
      color: #ff0800;
    }
  }
}

.overlay.show {
  display: block;
}

/* partners */

#partners {
  width: 100%;
  padding: 50px 20px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.section-title p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
  margin-bottom: 30px;
}

/* Estilización de los artículos directamente */
#partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  min-width: 200px;
  flex: 1;
  max-width: 250px;
}

article:hover {
  transform: translateY(-10px);
}

.numbers {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
}

.numbers h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.numbers span {
  font-size: 1.5rem;
  color: #ff6600;
}

p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}

/* Adaptación a pantallas pequeñas */
@media (max-width: 768px) {
  #partners {
    flex-direction: column;
    align-items: center;
  }

  article {
    max-width: 100%;
  }
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--yellow-aditional);

  .main-footer {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    h3 {
      color: var(--blue-aditional);
    }
    p, a{
      font-size: .8rem;
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: rgb(228, 228, 228);
    }

    .about-info {
      display: flex;
      flex-direction: column;
      width: 250px;
      align-items: center;

      figure {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .contact-info {
      display: flex;
      gap: 5px;
      flex-direction: column;

      .contact-item {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      
      .logos-contact {
        display: flex;
        gap: 20px;
        align-self: center;

        a{
          .logo {
            font-size: 1.5rem;
            color: black;
          }

          .logo:hover {
            color: rgb(255, 255, 255);
          }
        }
        
      }
    }

    .ubication-info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .contact-item {
        align-items: center;
        display: flex;
        gap: 5px;
      }
    }

    .help-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .line {
    height: 1px;            
    background-color: #000000; 
    width: 80%;             
    margin: 0 auto;         
  }

  .copy {
    font-size: .8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin: auto;

    span {
      font-weight: 600;
    }
  }
}
  
  
  
  

  


  
  