@media screen and (min-width: 480px) and (max-width: 768px) {
    .logo-tipografia {
        display: none;
    }
    
    #header {
        padding: 0px 30px;

        .nav-movil {
            align-items: center;
            display: flex;
            width: 100%;
            justify-content: space-between;

            .cart-menu-movil {
                display: flex;
                align-items: center;
                gap: 10px;

                .cart {
                    display: flex;
                }
                
                #icon-menu {
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: black;
                }
            }
        }

        nav {
            #ul-menu {
                display: flex;
                background-color: white;
                width: 100%;
                position: absolute;
                justify-content: space-evenly;
                top: 100%;
                left: 0;
                gap: 10px;
                height: 0; /* Menú inicialmente con altura 0 */
                opacity: 0; /* Menú oculto inicialmente */
                transition: height 0.5s ease, opacity 0.5s ease; /* Transición en altura y opacidad */

                .menu-item{
                    a {
                        padding: 5px 0px;
                        display: block;
                        font-size: .7rem;
                    }
                }
            }

            #ul-menu.abrir_menu {
                display: flex; /* Mostramos el menú */
                height: auto; /* Ajustamos la altura a la de su contenido */
                opacity: 1; /* Hacemos visible el menú */        
            }
        }
        .cart {
            display: none;
        }
    } 

    #parallax {
        .info-parallax {
            width: 90%;
            left: 50%;

            gap: 15px;     

            h1 {
                font-size: 1.2rem;
            }
            p{
                font-size: 1rem;
            }

            .view-more {
                padding: 5px 10px;
                font-size: 1rem;
            }
        }
    }

    #gallery {
        .project-gallery figure figcaption {
            opacity: 1;
            transform: translateY(0);
            transition: none; /* Elimina la animación en móviles */
        }
    }
    
    .overlay {
        .dialog {
            width: 90vw;
        }
    }
    footer{
        .main-footer {
            flex-direction: column;
            gap: 20px;

            .about-info {
                width: 100%;
                text-align: center;
            }
        }
    }
}