@media screen and (max-width: 768px) {
    .logo-tipografia {
        display: none;
    }
    #header {
        #ul-menu
        {
            display: flex;
            gap: 5px;
            .menu-item{
                a {
                    font-size: .8rem;
                }
            }
        }
    }

    #parallax {
        .info-parallax {
            left: 50%;

            align-items: center;      
            gap: 10px;     

            h1,p {
                text-align: center;
            }
            h1 {
                font-size: 1.2rem;
            }
            p{
                font-size: 1rem;
            }

            .view-more {
                padding: 2px 5px;
            }
        }
    }

    #gallery {
        .project-gallery figure figcaption {
            opacity: 1;
            transform: translateY(0);
            transition: none; /* Elimina la animación en móviles */
        }
    }
    
    .overlay {
        .dialog {
            width: 90vw;
        }
    }
    footer{
        padding: 10px;
        .main-footer {
            flex-direction: column-reverse;
            gap: 20px;

            .info {
                width: 100%;
            }

            .social-icons {
                width: 100%;
            }

            .info {
                width: 100%;
            }
            .about {
                width: 100%;

                .logos-footer {
                    justify-content: center;

                    .logo-solo {
                        width: 80px;
                    }
                }

                .about-us {
                    align-items: center;
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    
}